li {
    display: inline;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}