/* Apply to the whole page */
:root {
    --primary-color: 0,0,0;
    --secondary-color: 255,255,255;
    --tertiary-color: 66,133,244;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* For Navigation bar */
nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 1.2rem 0;
    justify-content: space-between;
}

nav div a {
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    margin: 0 1rem;
    color: rgba(var(--primary-color),0.85);
    text-decoration: none;
}
/*not #apps because it creates improper underline for appgrid*/
nav div a:not(#apps):hover {
    color: rgba(var(--primary-color),0.75);
    text-decoration: underline;
    cursor: pointer;
}

#app-grid {
    color: rgba(var(--primary-color),0.60);
    vertical-align: middle;
}

#app-grid:hover {
    color: rgba(var(--primary-color),0.95);
    cursor: pointer;
}

#sign-in {
    background-color: rgb(var(--tertiary-color));
    border: none;
    color: rgb(var(--secondary-color));
    padding: 7px 13px;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 2px;
    vertical-align: sub;
}

#sign-in:hover{
    background-color: rgba(var(--tertiary-color),0.85);
    cursor: pointer;
}

/* For logo and search form */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8.5rem 0;
    flex: 1;
}

section img {
    max-width: 100%;
    height: auto;
    padding: 1.5rem;
}

form {
    padding-bottom: 2rem;
    padding-right: 2.5rem; /* had to make this adjustment because of search icon's left 2.5rem */
}

input {
    width: 29rem;
    height: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 2.5rem;
    border: 1px solid rgba(var(--primary-color),0.20);
    border-radius: 25px;
    font-size: 1rem;
    color: rgba(var(--primary-color),0.90);
    font-weight: 350;
}

#search-icon {
    opacity: 0.40;
    font-size: 1.2rem;
    position: relative;
    left: 2.5rem;
    top: 0.2rem;
}

input:hover {
    box-shadow: 5px 5px 7px rgba(var(--primary-color),0.18), -1px -2px 4px rgba(var(--primary-color),0.10);
    border: 1px solid rgba(var(--primary-color),0.05);
}

input:focus {
    outline: none;
}

@media (max-width: 600px) {
    input {
        width: 20rem;
    }
}

#search button {
    background-color: rgba(var(--primary-color),0.05);
    border: none;
    border-radius: 6px;
    padding: 1rem 0.6rem;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(var(--primary-color),0.5);
    margin: 0 0.6rem;
}

#search button:hover {
    box-shadow: 0px 0px 2px rgba(var(--primary-color),0.50);
    color: rgba(var(--primary-color),0.8);
}
/* For footer */
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding: 1rem 0;
    background-color: rgba(var(--primary-color),0.08);
    border-top: 1px solid rgba(var(--primary-color),0.07);
}

footer a {
    font-size: 0.9rem;
    font-weight: 300;
    text-decoration: none;
    color: rgba(var(--primary-color),0.50);
    margin: 0 1rem;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
}